body {
  background-image: url('src/assets/bg.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.logo {
  width: 50px;
  height: auto;
}

.navbar-nav {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-link {
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

/* Floating Social Media Icons */
.social-media-icons {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.social-btn {
  display: block;
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  background-color: #ab7d66;
  color: white;
  text-align: center;
  line-height: 50px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.social-btn i {
  font-size: 1.5rem;
}

.social-btn:hover {
  background-color: #79553d;
}

.scroll-btn {
  position: fixed;
  right: 20px;
  background-color: transparent;
  color: rgb(106, 86, 62);
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1.5rem;
  z-index: 1000;
}

.scroll-up {
  bottom: 80px;
}

.scroll-down {
  bottom: 20px;
}

/* Styling for the h3 text */
h3 {
  padding: 10px;
  font-size: 1.5rem; /* Adjust size based on the image */
  font-weight: normal; /* Keeps it light as seen in the screenshot */
  color: white; /* Matches the white text color */
  text-transform: uppercase; /* To make the text uppercase */
  letter-spacing: 0.1em; /* Adds slight spacing between letters */
  margin-bottom: 10px; /* Adjust the space between h3 and the rest */
  position: relative; /* Allows control of its position */
  z-index: 2; /* Ensures it appears over the image */
}

/* Optional: Additional styling to match the background */
section#intro {
  margin-top: 12px;
  padding: 10px;
  background-size: cover;
  background-position: center;
  color: white; /* Default text color for section */
  position: relative;
  z-index: 1; /* Ensures the image is behind the text */
  min-height: 70vh;
}

h1 {
  padding: 15px;
  font-size: 3.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

/* Media Queries for responsive adjustments */
@media (max-width: 992px) {
  h1{
    font-size: 2rem;
    padding: 5px;
  }
  .navbar-nav {
    flex-direction: column;
    width: 100%;
  }

  .nav-link {
    text-align: center; /* Center align links on mobile */
  }

  .notification-icon {
    position: relative;
    cursor: pointer;
  }
  
  .notification-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
  }
  
}
