<form [formGroup]="updateProductForm">
  <label>Nom du produit:</label>
  <input formControlName="name" type="text"/>
  <br>
  <label>Description:</label>
  <input formControlName="description" type="text-area"/>
  <br>
  <label>Price:</label>
  <input formControlName="price" type="number"/>
  <br>
  <label>Materiel:</label>
  <input formControlName="material" type="text"/>
  <br>
  <label>Product Image:</label>
  <input type="file" id="imageInput" accept="image/*" />
  <br>
  <button type="button" (click)="updateProduct()">Update Product</button>
</form>
