<body>
    <section class="form-section">
        <div class="card-body">
            <div class="container">
                <div class="text1">Proceed with the command</div>
            </div>

            <div class="form-group">
                <label>Full Name</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user mr-2"></i></span>
                    </div>
                    <input type="text" class="form-control">
                </div>

                <label>Email</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-envelope mr-2"></i></span>
                    </div>
                    <input type="text" class="form-control">
                </div>

                <label>Phone number</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-phone"></i></span>
                    </div>
                    <input type="text" class="form-control"
                        data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask>
                </div>
                <br>
                <button type="submit" class="btn">Send</button>

            </div>
        </div>
    </section>
</body>
