<p>Shop now</p>
<div class="text-center">Product List</div>
<div class="container">
  <div class="row">
    <div class="card1" *ngFor="let product of products | paginate: { itemsPerPage: 6, currentPage: p }">
      <img [src]="product.imageUrl || 'assets/default.jpg'"> 


      <div class="button-container">
        <button class="btn heart"><i class="fas fa-heart"></i></button>

        <!-- Add to Cart Button -->
        <button class="btn cart" (click)="addToCart(product)">
          <i class="fas fa-shopping-cart"></i>
        </button>

        <button class="btn details" (click)="goToDetails(product._id)">
          <i class="fas fa-arrow-right"></i>
        </button>
      </div>
      <br><br>
      <span class="product-name">{{ product.name }}</span>
      <span class="product-price">{{ product.price }}</span>
 
    </div>
  </div>
</div>
<!-- Pagination Controls -->
<pagination-controls (pageChange)="p = $event"></pagination-controls>