<p>Shop now</p>
<div class="text-center">Product List</div>
<div class="container">
    <div class="row">
<div class="card1">
    <img src="assets/cone.png">
    <i class="fas fa-arrow-right"></i>
    <div class="card-body">
      <h5 class="card-title">Wooden Cones</h5>
    </div>
</div>

<div class="card1">
    <img src="assets/feu-bois.png">
    <div class="card-body">
      <h5 class="card-title">Feu en bois</h5>
    </div>
</div>

<div class="card1">
    <img src="assets/abaisse-langue.png">
    <div class="card-body">
      <h5 class="card-title">Abaisse langue</h5>
    </div>
</div>
</div>
<div class="row">
<div class="card1">
    <img src="assets/spoonForkKnife.avif">
    <div class="card-body">
      <h5 class="card-title">Spoon fork knife</h5>
    </div>
  </div>
<br>
  <div class="card1">
    <img src="assets/verre.avif">
    <div class="card-body">
      <h5 class="card-title">Verre</h5>
    </div>
  </div>
<div class="card1">
    <img src="assets/plat.png">
    <div class="card-body">
      <h5 class="card-title">Plateaux</h5>
    </div>
  </div>
</div>
</div>