<body>
  <p class="text-center">Shop items</p>
  <h1 class="text-center">Recent products</h1>
  <div class="scroll-banner-container">
  <div class="scroll-content">

        <!-- Card 1 -->
        <div class="card">
          <img src="assets/cone.png">
          <div class="card-body">
            <h5 class="card-title">Wooden Cones</h5>
          </div>
        </div>
       <!-- Card 2 -->
       <div class="card">
        <img src="assets/abaisse-langue.png">
        <div class="card-body">
          <h5 class="card-title">Abaisse langue</h5>
        </div>
      </div>
       <!-- Card 3 -->
       <div class="card">
        <img src="assets/feu-bois.png">
        <div class="card-body">
          <h5 class="card-title">Feu en bois</h5>
        </div>
      </div>
      <!-- Card 4 -->
      <div class="card">
        <img src="assets/spoonForkKnife.avif">
        <div class="card-body">
          <h5 class="card-title">Spoon fork knife</h5>
        </div>
      </div>
      <!-- Card 5 -->
      <div class="card">
        <img src="assets/verre.avif">
        <div class="card-body">
          <h5 class="card-title">Verre</h5>
        </div>
      </div>
      <!-- Card 6 -->
      <div class="card">
        <img src="assets/plat.png">
        <div class="card-body">
          <h5 class="card-title">Plateaux</h5>
        </div>
      </div>
      <!-- Card 7 -->
      <div class="card">
        <img src="assets/barquette-bateau-bois.png">
        <div class="card-body">
          <h5 class="card-title">barquette bateau bois</h5>
        </div>
      </div>
      <a href="productList" type="submit" class="btn">Products &nbsp;
        <i class="fas fa-arrow-right"></i></a>
</div>

</div>
</body>

