<body>
  <p class="text-center">Shop items</p>
  <h1 class="text-center">Recent products</h1>
  <div class="scroll-banner-container">
  <div class="scroll-content">
    <div *ngFor="let product of products" class="product-card">
      <img [src]="product.imageUrl" alt="Product Image" />
      <p>Name: {{ product.name }}</p>
      <p>Price: {{ product.price }}€</p>
     </div>
     </div>
     </div>
<div class="button-container">
  <a href="productList" type="submit" class="btn">Products &nbsp;<i class="fas fa-arrow-right"></i></a>
</div>
<br>
</body>

