<body>
    <section class="form-section">
        <div class="card-body">
            <div class="container">
                <div class="text1">Ajouter un produit</div>
            </div>
            <form (submit)="addProduct()">
            <div class="form-group">
                <label for="newProduct.name">Nom du produit</label>
                <div class="input-group">
                    <input type="text" id="productName" [(ngModel)]="newProduct.name" name="productName" required />
                </div>

                <label for="newProduct.description">Description</label>
                <div class="input-group">
                    <input type="text" id="productDescription" [(ngModel)]="newProduct.description" name="productDescription" required />
                </div>
                
                <label for="newProduct.price">Price</label>
                <div class="input-group">
                    <input type="text" id="productPrice" [(ngModel)]="newProduct.price" name="productPrice" required />
                </div>

                <label for="newProduct.material">Material</label>
                <div class="input-group">
                    <input type="text" id="productMaterial" [(ngModel)]="newProduct.material" name="productMaterial" required />
                </div>
        
                <label for="newProduct.availability">Availability</label>
                <div class="input-group">
                    <input type="text" id="productAvailability" [(ngModel)]="newProduct.availability" name="productAvailability" required />
                </div>

                <label for="newProduct.productType">Type</label>
                <div class="input-group">
                    <input type="text" id="productType" [(ngModel)]="newProduct.productType" name="productType" required />
                </div>

                <label for="newProduct.color">Color</label>
                <div class="input-group">
                    <input type="text" id="color" [(ngModel)]="newProduct.color" name="color" required />
                </div>
                
                <label for="newProduct.form">Form</label>
                <div class="input-group">
                    <input type="text" id="form" [(ngModel)]="newProduct.form" name="form" required />
                </div>

                <label for="newProduct.application">Application</label>
                <div class="input-group">
                    <input type="text" id="application" [(ngModel)]="newProduct.application" name="application" required />
                </div>

                <label for="newProduct.dimension">Dimension</label>
                <div class="input-group">
                    <input type="text" id="dimension" [(ngModel)]="newProduct.dimension" name="dimension" required />
                </div>

                <div class="form-field">
                    <label>Image de produit</label>
                    <input type="file" (change)="onFileSelected($event)">
                  </div>

                <button type="submit" class="btn">Ajouter</button>
            </div>
        </form>
        </div>
</section>
</body>
