/* You can add global styles to this file, and also import other style files */
/* Hide Google Translate banner */
.goog-te-banner-frame {
  display: none !important;
}

/* Hide Google Translate logo */
.goog-logo-link, .goog-te-gadget span {
  display: none !important;
}

/* Hide default dropdown */
.goog-te-gadget {
  color: none !important;
}

/* Hide iframe */
iframe.skiptranslate {
  display: none !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; top: 0 !important}

