<section class="content" id="section1">
  <div class="card-body">
    <div class="row">
      <!-- Main Product Image -->
      <div class="col-12 col-sm-6">
        <div class="card">
          <img [src]="productImage" class="product-image" alt="Product Image"/>
        </div>
      </div>

      <!-- Product Details -->
      <div class="col-12 col-sm-6">
        <h2 class="my-3">{{ productCaption }}</h2>
        <p>{{ productDescription }}</p>
        <hr />
        <h4><b>Availability</b></h4>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-default text-center">
            <input type="radio" name="size_option" id="size_option_s" autocomplete="off" />
            <span>{{availability}}</span><br/>
          </label>
        </div>
        <div class="details">
          <br /><b>Couleur:</b> {{ productColor }}<br />
          <b>Dimension:</b> {{ productDimension }}<br />
          <b>Material:</b> {{ productMaterial }}<br />
          <b>Product Type:</b> {{ productType }}<br />
          <b>Shape:</b> {{ productShape }}
        </div>
      </div>
    </div>
  </div>

</section>
