<section class="content" id="section1">
<div>
<div class="card-body">
<div class="row">
<div class="col-12 col-sm-6">

  <div class="col-md-12">
    <div class="card">
      <img src="assets/petite-cuillere.png" class="product-image" alt="Product Image">
      <div class="card-body">
        <div class="col-12 product-image-thumbs">
          <div class="product-image-thumb active">
            <img src="assets/petite-cuillere.png" alt="Product Image">
          </div>
          <div class="product-image-thumb active">
            <img src="assets/petite-cuillere-1.png" alt="Product Image">
          </div>
          <div class="product-image-thumb active">
            <img src="assets/petite-cuillere-2.png" alt="Product Image">
          </div>
        </div>
        </div>
        
      </div>
    </div>
  </div>

<div class="col-12 col-sm-6">
<h2 class="my-3">{{productCaption}}</h2>
<div class="my-2">{{mainProductDescription}}</div>
<hr>
<h4 class="mt-3"><b>Available sizes</b></h4>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
<label class="btn btn-default text-center">
<input type="radio" name="color_option" id="color_option_b1" autocomplete="off">
<span class="text-xl">S</span>
<br>
Small
</label>
<label class="btn btn-default text-center">
<input type="radio" name="color_option" id="color_option_b2" autocomplete="off">
<span class="text-xl">B</span>
<br>
Big
</label>
</div>

<h4 class="mt-3"><b>Disponibilté</b></h4>
<span>en stock</span> <br>

<small><b>Couleur :</b>  Naturel <br>
  <b>Dimensions Générales :</b> 16 cm * 3.1 cm * 2.0cm <br>
  <b>Matériel :</b>  Bois <br>
  <b>Type de produit :</b> cuillère <br>
  <b>Applications :</b> Restauration, Hôtellerie et Traiteur <br>
  <b>Forme :</b> Allongée</small>
</div>
</div>
</div>
</div>
</section>
<section id="section2">
  hhhhhhhhhh
</section>